.power-pool-box {
	position: absolute;
	bottom: 0;
	height: 300px;
	width: 100%;
	overflow: hidden;
	background: linear-gradient(0deg, #9c27b0, #282c34);

}

.power-bubble {
	position: absolute;
	font-size: large;
	opacity: 0;
}

@keyframes bubbleUp {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	33% {
		opacity: 1;
		transform: translateY(-100px) rotate(-10deg);
	}
	66% {
		opacity: 1;
		transform: translateY(-200px) rotate(10deg);
	}
	80% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		transform: translateY(-300px) rotate(-10deg);
	}
}
